:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --subtitle-color: #757575;
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --border-color: #eeeeee;
  --info-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}
.ul {
  list-style: none;
}
.header {
  line-height: 1.14;
  background-color: var(--background-color);
}

.webstudio-logo {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio-logo {
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.studio {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
}
.header-menu-studio {
  letter-spacing: 0.02em;
}
.header-menu-studio [href]:focus,
.header-menu-studio [href]:hover {
  color: var(--accent-color);
  border-radius: 4px;
}
.header-menu-portfolio {
  letter-spacing: 0.02em;
}
.header-menu-portfolio [href]:focus,
.header-menu-portfolio [href]:hover {
  color: var(--accent-color);
  border-radius: 4px;
}
.portfolio {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
}
.header .communication {
  letter-spacing: 0.02em;
}
.header .comm {
  text-decoration: none;
  color: var(--subtitle-color);
}
.communication .comm:focus,
.communication .comm:hover {
  color: var(--accent-color);
}

.main-section {
  background: var(--secondary-background-color);
}
.main-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.button {
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--button-background-color);
  border-style: hidden;
}
.buttons-portfolio {
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.buttons-portfolio .button:hover,
.buttons-portfolio .button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.b-order:hover,
.b-order:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.b-order:active {
  background: var(--button-background-color);
}
.b-order {
  font-weight: 700;
  line-height: 1.87;
  width: 216px;
  height: 50px;
  letter-spacing: 0.06em;
}
.b-everyone {
  width: 73px;
}
.b-web-sites {
  width: 125px;
}
.b-appendices {
  width: 112px;
}
.b-design {
  width: 103px;
}
.b-marketing {
  width: 130px;
}
.description-section {
  letter-spacing: 0.03em;
}
.hidden-tittle {
  display: none;
}
.list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.list .subtitle {
  font-size: 14px;
  line-height: 1.71;
  color: var(--subtitle-color);
}
.info-section {
  letter-spacing: 0.03em;
}
.info-page-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team-section {
  letter-spacing: 0.03em;
  background-color: var(--button-background-color);
}
.info-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.list-team .block {
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}
.list-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.list-team .subtitle {
  font-size: 16px;
  line-height: 1.18;
  color: var(--subtitle-color);
}
.list-portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-portfolio .subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}
.list-portfolio .block {
  width: 370px;
  height: 404px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}
.footer {
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);
}
.footer .comm {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--info-color);
}
.studio-logo-footer {
  color: #ffffff;
}
.address-info {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
}
